<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "bootstrap/all.min.css" %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

 <link rel="stylesheet" href="{% static "css/newpj5.css" %}">
</head>
<body>
  {% block content %}
  {% endblock content %}
</body>
    <script src="{% static "bootstrap/js/all.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    
</html>